<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/clockicon.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head> 

<body>
    <div class="main-content">
        {{>header}}
        <p>I originaly created the website using flask and it was called Epic Stopwatch. Also, It had login and logout and time statistics.
            Right now I am trying to rebuild the website using node js and also to introduce some additional functionality - but of course it will
            take some time... 
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/L_tH3Lpa9jg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    {{>footer}}
</body> 

</html>